/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.container {
	margin-left: 0px;
	margin-right: opx;;
}

.main-container {
	margin-bottom: 55px; /* Need this to offset the fixed bottom nav */
}

.large-div {
	height:100px;
	max-width: 500px;
	overflow:auto;
}

h3 span {
	font-size: 22px;
}
h3 input.search-input {
	width: 300px;
	margin-left: auto;
	float: right
}

.mt32 {
	margin-top: 32px;
}